<%= form_tag '', id: 'filters', remote: true, method: :get, class: "form-horizontal" do %>
    <%= select_tag(:course, options_for_select(Events::Event.available_courses, selected: params[:course]), {class: 'form-control',required: 'true', autofocus: 'true', :onchange => 'this.form.submit()'}) %>
    <%= select_tag(:type, options_for_select(Events::Event.available_types, selected: params[:type]), {class: 'form-control',required: 'true', autofocus: 'true', :onchange => 'this.form.submit()'}) %>
<% end %>
<div id="events">
<%= render 'events' %>
</div>
